*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: brown;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
}

.main-container {
  flex: 1;
  background-color: brown;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  align-content: flex-start;
}

img {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
